.open>.dropdown-menu
{
	left:92%;
	font-family: Gautami;
	font-size: 16px;
	min-width:100px;
}

.title,.edit_title,.pic
{
	font-family: Gautami;
}
.title
{
	float: left;
	display: block;
	margin-top:4%; 
	width: 50%;
	font-size: 40px;
}

.edit_title
{
	float: left;
	width: 50%;
	margin-left: 1%; 
	font-size: 25px;
}

.pic
{
	float: left;
	width: 100%;
	font-size: 30px;
	margin-top:20px;
}

#myFile
{
	float: right;
	font-size: 15px;
	margin-left: 10px;
}
._n
{
	background-image: url(../img/icon/camera.png);
	background-repeat: no-repeat;
    background-size: auto;
    background-position: -51px -494px;
}

.submit
{
	float: left;
	margin-top: 10px;
	width: 98%;
	height: 40px;
	margin-left:1%; 
	margin-right:1%;
	background-color: rgba(177,37,64,0.8)
}

.NameEditor
{
	float: left;
	margin-left: 20px;
	margin-top:0.4%;
	font-family: Pattaya-Regular;
	font-size: 26px;
	color: white;
}
