a,a:hover,a:focus,a:active{
	color: inherit;
  	text-decoration: none;
 }
img
{
	border-radius: 5px 5px 5px;
}

.read
{
	float: right;
	font-family: Pattaya-Regular;
	font-size: 30px;	
	border-radius: 5px 5px 5px;
	color: #b6a59d;
	margin: 5%;		
}

#mySidenav
{
	color: white;
}
.user
{
	float: left;
	font-family: Gautami;
	font-size: 20px;
	margin: 4%;		
}

.user_post
{
	/*font-family: Lobster;*/
    width: 420px;
    height: 470px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    margin-top: 2%;
    margin-bottom: 1%;
    box-shadow: 3px 3px 5px grey;
    height: auto;
}

.time
{
	font-size: 10px;
	margin-top: 6%;
}
