@font-face {
font-family: Pattaya-Regular;
src: url("../models/font/Pattaya-Regular.ttf") format("opentype");
}	
body
{
	background-color: #cac8c8;
	margin: 0;
	width: 100%;
	height: 100%;
}

bodier
{ 
	background-color: #cac8c8;
	position: relative;
	margin-left: 15%; 
	margin-right: 15%;
	margin-top:44.66px;
	width: 70%;
}

bar
{
	position: fixed;
	background-color: #343434;
	height: 44.66px;
	width: 100%;
	opacity: 50;
}

.dropdown-menu {
	left:92%;
	font-family: Gautami;
	font-size: 16px;
	min-width:100px;
}
.dropdown-menu>li>a {
    float: right;
}

.head_post
{
	font-family: Pattaya-Regular;
	margin-left: 4%;
	font-size: 50px;
}
.svg
{
	float: left;
	margin: 7px;
}
.selection
{
	float: right;
	font-size: 20px;
	margin: 1%;
}
#balance
{
	float: right;
}
.NameBlog
{
	float: left;
	margin-left: 60px;
	margin-top:0.4%;
	font-family: Pattaya-Regular;
	font-size: 26px;
	color: white;
}
#post
{
	box-shadow: 3px 3px 5px grey;
	font-family: Pattaya-Regular;
	float: left;
	width: 420px;
	height: 70px;
	background-color: white;
	border:1px solid;
	border-radius: 5px 5px 5px 5px;
	margin-top:2%;
	margin-right: 4%;
	margin-left: 4%;
	margin-bottom: 1%;
}
.viewpost
{
	float: left;
	/*background-color: yellow;*/
	margin-left: 15%; 
	margin-right: 15%;
	margin-top:44.66px;
	width: 70%;
}

/*         Side-bar              */

.sidenav {
    height: 100%;
    width: 250px;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*////////////////////////////////*/
a:hover,a:focus,a:active{
	color: inherit;
  	text-decoration: none;
 }