@font-face {
font-family: Pattaya-Regular;
src: url("../models/font/Pattaya-Regular.ttf") format("opentype");
}

body
{
	background: url(http://www.wallpapersworld.net/user-content/uploads/wall/o/1/frankfurt-am-main_39273.jpg	) no-repeat center center fixed rgba(0,0,0, 0.5);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body
{
	float: left;
	margin: 0;
	width: 100%;
	height: 100%;
}

.error
{
	color: red;
}
.login
{
	margin-left: 15%;
	margin-top: 5%;
	float: left;
	width: 400px;
	height: 500px;
	border:1px solid;
	background-color: rgba(84,92,100,0.5);
	border-radius: 17px 17px 17px 17px;
}
.NameBlog
{
	float: left;
	margin-left: 30%;
	margin-top:0.4%;
	font-family: Pattaya-Regular;
	font-size: 70px;
	color: white;
}

input
{	
	margin-left:0.5%;
	width: 280px;
	border-radius: 5px 5px 5px 5px;
}	

.forms
{
	font-family: Gautami;
	float: left;
	margin: 1%;
	font-size: 20px;
	color: white;
}
service
{
	margin: 5%;
}
.submit,.regis
{
	float: left;
	font-size: 16px;
	margin-left: 2%;
	margin-top: 5%; 
	height: 30px;
	background-color: blue;
	border:0px;
	color: white;
	background-color: rgba(177,37,64,0.8);
	border-radius: 3px 3px 3px 3px;
}

.regis
{
	width: 280px;
}

.onblog
{
	color: white;
	font-family: Pattaya-Regular;
	font-size: 40px;
	float: left;
	margin: 20%;
	padding-left:3%;
	padding-right: 3%; 
	background-color: rgba(177,37,64,0.8);
	border-radius: 10px 10px 10px 10px;
}
#welcome
{
	font-family: Gautami;
	position: relative;
	font-size: 50px;
	margin-left:90px; 
	color: white;
	top:300px;
}
#born
{
	font-family: Gautami;
	position: absolute;
	font-size: 18px;
	top: 360px;
	left: 950px;
	color: white;
}